html {
  font-size:14px
}

@media (max-width:575px){
  html {
    font-size:13px
  }
}

body {
  position:relative;
  color:#383c40;
  font-family:Helvetica Neue,Raleway,sans-serif;
  font-weight:400;
  line-height:1.6;
  overflow-x:hidden;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

body:not(.no-margins) {
  margin:0 30px 30px
}

@media (max-width:1199px) {
  body:not(.no-margins) {
    margin:0 15px 15px
  }
}
@media (max-width:575px){
  body:not(.no-margins){
          margin:0
          }
          }
          button,input{
            font-family:inherit
            }
            a {
              -webkit-transition:all .2s ease-in-out;
              transition:all .2s ease-in-out;
              color:inherit
              }
              a:focus,a:hover{
                text-decoration:none;
                color:#ddae71}
                :focus,a:focus,a:visited,input:focus,textarea:focus{
                  outline:none}iframe{border:0}img{max-width:100%;height:auto;-webkit-backface-visibility:hidden;backface-visibility:hidden}#body-wrapper{position:relative;overflow:hidden}#body-wrapper:before{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.5);content:" ";z-index:899;visibility:hidden;opacity:0}.dropdown-visible #body-wrapper:before{opacity:1;visibility:visible}.container>.main.left,.container>.sidebar.left{float:left}@media (max-width:767px){.container>.main.left,.container>.sidebar.left{float:none}}.container>.main.right,.container>.sidebar.right{float:right}@media (max-width:767px){.container>.main.right,.container>.sidebar.right{float:none}}.container>.main{width:70%}@media (max-width:767px){.container>.main{width:100%;margin-bottom:3rem}}.container>.sidebar{width:24%}@media (max-width:767px){.container>.sidebar{width:100%}}.container-md{width:860px}@media (max-width:767px){.container-md{width:730px}}@media (max-width:575px){.container-md{width:auto}}::selection{background:#ddae71;color:#fff}::-moz-selection{background:#ddae71;color:#fff}.relative{position:relative;z-index:2}.block{display:block}.dark{color:#fff}.pull-up-0{margin-top:0!important}.pull-up-5{margin-top:-5px!important}.pull-up-10{margin-top:-10px!important}.pull-up-15{margin-top:-15px!important}.pull-up-20{margin-top:-20px!important}.pull-up-25{margin-top:-25px!important}.pull-up-30{margin-top:-30px!important}.pull-up-35{margin-top:-35px!important}.pull-up-40{margin-top:-40px!important}.pull-up-45{margin-top:-45px!important}.pull-up-50{margin-top:-50px!important}.push-down-0{margin-bottom:0!important}.push-down-5{margin-bottom:-5px!important}.push-down-10{margin-bottom:-10px!important}.push-down-15{margin-bottom:-15px!important}.push-down-20{margin-bottom:-20px!important}.push-down-25{margin-bottom:-25px!important}.push-down-30{margin-bottom:-30px!important}.push-down-35{margin-bottom:-35px!important}.push-down-40{margin-bottom:-40px!important}.push-down-45{margin-bottom:-45px!important}.push-down-50{margin-bottom:-50px!important}.mb-6{margin-bottom:5rem!important}.animated{visibility:hidden}.animated.visible{visibility:visible}.border{border:1px solid #e0e0e0}.dark .border{border:1px solid hsla(0,0%,100%,.15)}.border-top{border-top:1px solid #e0e0e0}.dark.border-top,.dark .border-top{border-top:1px solid hsla(0,0%,100%,.15)}.border-bottom{border-bottom:1px solid #e0e0e0}.dark.border-bottom,.dark .border-bottom{border-bottom:1px solid hsla(0,0%,100%,.15)}.shadow{box-shadow:1px 1px 30px 0 rgba(0,0,0,.1)}.row.gutters-sm{margin-left:-7.5px;margin-right:-7.5px}.row.gutters-sm>[class*=" col"],.row.gutters-sm>[class^=col]{padding-left:7.5px;padding-right:7.5px}.row.with-separator{margin-left:-30px;margin-right:-30px}@media (max-width:767px){.row.with-separator{margin-left:-15px;margin-right:-15px}}.row.with-separator>[class*=" col"],.row.with-separator>[class^=col]{padding-left:30px;padding-right:30px}@media (max-width:767px){.row.with-separator>[class*=" col"],.row.with-separator>[class^=col]{padding-left:15px;padding-right:15px}}.row.with-separator>[class*=" col"]:not(:last-child),.row.with-separator>[class^=col]:not(:last-child){border-right:1px solid #e0e0e0}@media (max-width:767px){.row.with-separator>[class*=" col"]:not(:last-child),.row.with-separator>[class^=col]:not(:last-child){border-right:0}}.h-100{height:100px}.h-200{height:200px}.h-300{height:300px}.h-400{height:400px}.h-500{height:500px}.h-600{height:600px}.h-700{height:700px}.h-800{height:800px}.h-900{height:900px}.h-sm{height:40vh}.h-md{height:60vh}.h-lg{height:80vh}.fullheight{height:100vh}.min-fullheight{min-height:100vh}.v-center{position:relative;top:50%;-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0);-webkit-transition:all .3s ease-out;transition:all .3s ease-out}@media (max-width:991px){.v-center{top:0;-webkit-transform:translateZ(0);transform:translateZ(0)}}.v-bottom{position:relative;top:80%;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);-webkit-transition:all .3s ease-out;transition:all .3s ease-out}@media (max-width:991px){.v-bottom{top:0;-webkit-transform:translateZ(0);transform:translateZ(0)}}@media (max-width:991px){.fullheight,.h-lg,.h-md,.h-sm{height:auto}}#header{position:relative;width:100%;background-color:#fff;z-index:900}@media (min-width:992px){#header{height:100px}}@media (max-width:991px){#header{display:none}}#header.absolute{position:absolute}#header.light{background-color:#fff}#header.dark{background-color:#282b2e}#header.transparent{background-color:rgba(0,0,0,0);color:#fff}#header .module{line-height:45px;display:inline-block}#header .module:not(.module-logo):not(.module-logo-horizontal){padding-top:27.5px;padding-bottom:27.5px}#header .module.right{float:right}#header .module.left{float:left}#header .module-logo{position:absolute;top:0;left:15px;right:15px;text-align:center;padding:5rem 2rem}@media (max-width:1500px){#header .module-logo{padding:4rem 2rem}}#header .module-logo.light{background-color:#fff}#header .module-logo.dark{background-color:#282b2e}#header .module-logo img{max-width:150px}#header .module-logo-horizontal{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:100px}#header .module-logo-horizontal img{height:50px}#header .module-cart:focus,#header .module-cart:hover{color:inherit}#header .module-cart:focus .cart-value,#header .module-cart:hover .cart-value{opacity:.6}#header .module-cart .cart-icon{position:relative}#header .module-cart .cart-icon i{font-size:23.8px;font-size:1.7rem;display:inline-block;color:#bbc4c6}#header .module-cart .cart-icon .notification{border-radius:30px;position:absolute;top:-11.2px;top:-.8rem;right:0;background-color:#4aa36b;color:#fff;font-weight:600;font-size:9.799px;font-size:.7rem;display:inline-block;padding:.15rem .3rem .2rem .35rem;line-height:1}#header .module-cart .cart-value{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;font-size:19.599px;font-size:1.4rem;font-family:Oswald,sans-serif;border-left:1px solid #e0e0e0;margin-left:.5rem;padding-left:.75rem}#header.dark .module-cart .cart-value,#header.transparent .module-cart .cart-value{border-color:hsla(0,0%,100%,.15)}#header-mobile{position:fixed;top:0;left:0;width:100%;height:60px;z-index:900;display:none}@media (max-width:991px){#header-mobile{display:block}}#header-mobile.light{box-shadow:0 0 10px 0 rgba(0,0,0,.1);background-color:#fff}#header-mobile.dark{background-color:#282b2e}#header-mobile .module{line-height:60px}#header-mobile .module-logo{width:calc(100% - 90px);margin:0 auto;text-align:center}#header-mobile .module-logo img{height:30px}#header-mobile .module-nav-toggle{position:absolute;top:0;left:0;width:45px;text-align:center}#header-mobile .module-cart{position:absolute;top:0;right:10px}#header-mobile .module-cart i{position:relative;top:4px;font-size:23.8px;font-size:1.7rem;display:inline-block;color:#bbc4c6}#header-mobile .module-cart .notification{border-radius:30px;position:absolute;top:11.2px;top:.8rem;right:0;background-color:#4aa36b;color:#fff;font-weight:600;font-size:9.799px;font-size:.7rem;display:inline-block;padding:.15rem .3rem .2rem .35rem;line-height:1}#nav-toggle{-webkit-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer;width:26px;height:26px;position:relative;display:inline-block;margin-top:17px}#nav-toggle,#nav-toggle span{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}#nav-toggle span{border-radius:2px;-webkit-transition:.25s ease-in-out;transition:.25s ease-in-out;opacity:1;display:block;position:absolute;height:2px;width:100%;background:#383c40;left:0}#nav-toggle span:first-child{top:3px}#nav-toggle span:nth-child(2),#nav-toggle span:nth-child(3){top:11px}#nav-toggle span:nth-child(4){top:19px}#nav-toggle.open span:first-child{top:18px;width:0;left:50%}#nav-toggle.open span:nth-child(2){-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}#nav-toggle.open span:nth-child(3){-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}#nav-toggle.open span:nth-child(4){top:18px;width:0;left:50%}.dark #nav-toggle span{background:#fff}#panel-mobile{-webkit-transition:all .6s cubic-bezier(.215,.61,.355,1);transition:all .6s cubic-bezier(.215,.61,.355,1);box-shadow:0 0 30px 0 rgba(0,0,0,.1);-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);position:fixed;top:0;left:0;bottom:0;background-color:#fff;width:300px;z-index:970;display:none;visibility:hidden;overflow:auto}@media (max-width:991px){#panel-mobile{display:block}}@media (max-width:575px){#panel-mobile{width:100%}}#panel-mobile.show{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);visibility:visible}#panel-mobile .module-logo{text-align:center;padding:5rem 2rem;display:block}#panel-mobile .module-navigation{padding:1rem 1.5rem}#panel-mobile .module-social{padding:1rem;text-align:center}#panel-mobile .close{position:absolute;top:21px;top:1.5rem;left:21px;left:1.5rem;font-size:18.2px;font-size:1.3rem}.nav-main-mobile{font-family:Oswald,sans-serif;text-transform:uppercase;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}.nav-main-mobile li{position:relative}.nav-main-mobile li.has-dropdown:after{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;position:absolute;top:14px;top:1rem;right:14px;right:1rem;font-family:themify-icons;content:"\e62a";margin-left:.5rem;font-size:.75em;display:inline-block;vertical-align:middle;color:#a4a7a9}.nav-main-mobile>li{position:relative;border-bottom:1px solid #e0e0e0}.nav-main-mobile>li>a{padding:.9rem 0;font-size:15.4px;font-size:1.1rem;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.nav-main-mobile>li>a .badge{margin-left:.5rem}.nav-main-mobile>li .dropdown-container,.nav-main-mobile>li .dropdown-container .dropdown-image{display:none}.nav-main-mobile ul{list-style:none;margin:0 .5rem 1rem;padding:0 1rem;font-size:13.299px;font-size:.95rem}.nav-main-mobile ul>li.has-dropdown:after{top:4.899px;top:.35rem;right:0}.nav-main-mobile ul>li>a{padding:.5rem 0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.nav-main-mobile ul>li>a .badge{margin-left:.5rem}.nav-main-mobile ul ul{padding:0;display:none}.nav-main{font-family:Oswald,sans-serif;text-transform:uppercase}.nav-main>li{position:relative}.nav-main>li:not(:last-child){margin-right:1.5rem}.nav-main>li.has-dropdown>a:after{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;opacity:.5;font-family:themify-icons;content:"\e62a";margin-left:.5rem;font-size:.75em;display:inline-block;vertical-align:middle}.nav-main>li.has-dropdown>a:focus,.nav-main>li.has-dropdown>a:hover{color:inherit}.nav-main>li.has-dropdown>a:focus:after,.nav-main>li.has-dropdown>a:hover:after{opacity:1}.nav-main>li.has-dropdown.dropdown-show>a:after{-webkit-transform:translateY(3px);-ms-transform:translateY(3px);transform:translateY(3px);opacity:1}.nav-main>li.has-dropdown.dropdown-show>.dropdown-container{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);opacity:1;visibility:visible}.nav-main>li>a{line-height:45px}.nav-main>li>a:focus,.nav-main>li>a:hover{color:#ddae71}.nav-main>li .dropdown-container{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-transform:translateY(10px);-ms-transform:translateY(10px);transform:translateY(10px);top:calc(100% + 45px);left:0;position:absolute;background-color:#fff;opacity:0;visibility:hidden;color:#383c40;text-align:left}.nav-main>li .dropdown-container .dropdown-mega{padding:.5rem 1.5rem}.nav-main>li .dropdown-container .dropdown-mega>li>a{padding:.75rem 0}.nav-main>li .dropdown-container .dropdown-image{width:250px}.nav-main ul{list-style:none;padding:5px;margin:0;line-height:1.5;width:200px;background-color:#fff}.nav-main ul li{position:relative}.nav-main ul li:not(:last-child){border-bottom:1px solid #e0e0e0}.nav-main ul li a{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding:.75rem 1rem;font-size:12.6px;font-size:.9rem}.nav-main ul li a .badge{margin-left:auto}.nav-main ul li.has-dropdown:after{opacity:.5;position:absolute;top:14px;top:1rem;right:14px;right:1rem;font-family:themify-icons;content:"\e628";font-size:.75em}.nav-main ul li>ul{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;position:absolute;top:0;left:calc(100% + 8px);visibility:hidden;opacity:0}.nav-main ul li.dropdown-show.has-dropdown:after{opacity:1}.nav-main ul li.dropdown-show>ul{opacity:1;visibility:visible}#content{position:relative;overflow:hidden}@media (max-width:991px){#content{margin-top:10px}}.page-content{padding-top:2rem;padding-bottom:2rem}.post{margin-bottom:1.5rem}.post .post-image img{width:100%}.post ul.post-meta{position:relative;list-style:none;padding:0;margin:0 0 2rem;display:block}.post ul.post-meta>li{display:inline-block;font-size:12px;color:#a4a7a9;font-weight:500}.post ul.post-meta>li>span{opacity:.7}.post ul.post-meta>li:not(:last-child){margin-right:8px}.post ul.post-meta>li:not(:last-child):after{opacity:.7;content:"/";margin-left:8px;font-size:60%}@media (min-width:768px){.post.post-wide{display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:flex!important}}.post.post-wide .post-image{width:60%;background-size:cover;background-position:50%}@media (max-width:767px){.post.post-wide .post-image{width:100%;height:300px}}.post.post-wide .post-content{position:relative;width:40%;background-color:#f3f4f4;padding:4rem}@media (max-width:767px){.post.post-wide .post-content{width:100%;padding:40px 30px}}.post.post-wide .post-content h4{margin-bottom:25px}.post.post-wide .post-content p{color:#a4a7a9}.post.post-wide:nth-child(2n){-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.post.post-masonry .post-content{position:relative;background-color:#f3f4f4;padding:40px 30px}.post.post-masonry .post-content:after{position:absolute;bottom:100%;left:50%;margin-left:-10px;width:0;height:0;border-color:rgba(0,0,0,0) rgba(0,0,0,0) #f3f4f4;border-style:solid;border-width:0 10px 10px;content:" "}.post.post-masonry .post-content h4{margin-bottom:25px}.post.post-masonry .post-content p{color:#a4a7a9}.post.single .date{margin-bottom:2rem;font-size:15.4px;font-size:1.1rem}.post.single .post-image{height:60vh;background-position:50%;background-size:cover;background-repeat:no-repeat;z-index:0;overflow:hidden}.post.single .post-image>img{border-radius:3px}.post.single .post-content{background-color:#fff;padding:5rem;z-index:2;margin-top:-10vh}@media (max-width:991px){.post.single .post-content{padding:3rem}}@media (max-width:575px){.post.single .post-content{padding:1.5rem}}.post.single .post-module{margin-top:3rem}.bg-grey .post.post-masonry .post-content,.bg-grey .post.post-wide .post-content,.bg-light .post.post-masonry .post-content,.bg-light .post.post-wide .post-content{background-color:#fff}.comments{list-style:none;padding:0;margin:0}.comments>li{margin-bottom:.5rem}.comments>li .avatar{width:58px;height:58px;float:left}@media (max-width:575px){.comments>li .avatar{width:28px;height:28px}}.comments>li .avatar>img{border-radius:50%;width:58px;height:58px}@media (max-width:575px){.comments>li .avatar>img{width:28px;height:28px}}.comments>li .content{padding:10px 0;margin-left:78px}@media (max-width:575px){.comments>li .content{padding-top:0;margin-left:38px}}.comments>li .content>.details{font-size:12.6px;font-size:.9rem;color:#a4a7a9}.comments>li ul{padding-left:58px;list-style:none}@media (max-width:575px){.comments>li ul{padding-left:30px}}.feature{margin-bottom:30px;display:block}.feature.feature-1 .feature-content{padding-left:65px;padding-top:1.5rem}.feature.feature-1 .icon{float:left}.feature.feature-1 .icon.icon-sm+.feature-content{padding-left:55px}.feature.feature-1 .icon.icon-lg+.feature-content{padding-left:120px}.feature.feature-1 .icon.icon-circle+.feature-content{padding-left:95px}.feature.feature-1 .icon.icon-circle.icon-sm+.feature-content{padding-left:64px}.feature.feature-1 .icon.icon-circle.icon-lg+.feature-content{padding-left:140px}.menu-sample{position:relative;background-color:#282b2e;overflow:hidden}.menu-sample .image{-webkit-transition:all 1.5s ease-out;transition:all 1.5s ease-out;width:100%}.menu-sample .title{position:absolute;bottom:63px;bottom:4.5rem;right:63px;right:4.5rem;color:#fff;font-size:77px;font-size:5.5rem;font-weight:100;margin-bottom:0}@media (max-width:991px){.menu-sample .title{font-size:4rem}}.menu-sample:hover .image{-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05)}.menu-sample-carousel{margin-bottom:0}.menu-sample-carousel .slick-list{overflow:visible}.nav-menu{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding:1.5rem 2.5rem;font-family:Oswald,sans-serif;text-transform:uppercase;margin-bottom:2rem}.nav-menu li a{padding:.5rem 0;font-size:15.4px;font-size:1.1rem;display:block}.menu-category{margin-bottom:2rem}.menu-category .menu-category-title{position:relative;height:35vh;min-height:160px;color:#fff;padding:3rem;background-color:#282b2e}@media (max-width:991px){.menu-category .menu-category-title{min-height:100px}}.menu-category .menu-category-title .bg-image:after{position:absolute;top:0;left:0;right:0;bottom:0;content:" ";background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(0deg,rgba(0,0,0,.5),rgba(0,0,0,0))}.menu-category .menu-category-title .title{position:absolute;bottom:42px;bottom:3rem;left:56px;left:4rem;font-size:70px;font-size:5rem;z-index:2;margin-bottom:0}@media (max-width:1500px){.menu-category .menu-category-title .title{font-size:4.5rem}}@media (max-width:991px){.menu-category .menu-category-title .title{font-size:4rem;bottom:2rem;left:3rem;font-size:3rem;left:2rem}}.menu-category .menu-category-title.collapse-toggle{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;cursor:pointer;height:25vh}.menu-category .menu-category-title.collapse-toggle:after{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;opacity:.5;position:absolute;bottom:42px;bottom:3rem;right:42px;right:3rem;font-family:themify-icons;content:"\e64b";display:inline-block;font-size:42px;font-size:3rem;z-index:2}@media (max-width:1500px){.menu-category .menu-category-title.collapse-toggle:after{bottom:2.5rem}}@media (max-width:991px){.menu-category .menu-category-title.collapse-toggle:after{right:2rem;bottom:2rem;font-size:2rem}}.menu-category .menu-category-title.collapse-toggle[aria-expanded=true]{height:35vh}.menu-category .menu-category-title.collapse-toggle[aria-expanded=true]:after{-webkit-transform:rotateX(180deg);transform:rotateX(180deg)}.menu-category .menu-category-content{border:1px solid #e0e0e0;background-color:#fff}.menu-category .menu-category-content.padded{padding:15px}.menu-list-item{padding:1.25rem 1.5rem;line-height:1.2}@media (max-width:575px){.menu-list-item{padding:1rem}}.menu-list-item:not(:last-child){border-bottom:1px solid #e0e0e0}.menu-grid-item{line-height:1.2;margin-bottom:1.5rem}.menu-grid-item:not(:last-child){border-bottom:1px solid #e0e0e0}.rate>i{margin-right:.5em;color:#bbc4c6}.rate>i.active{color:#ebd072!important}.rate.rate-lg{font-size:1.3em}.rate.rate-sm{font-size:.8em}.dark .rate>i{color:hsla(0,0%,100%,.4)}.rating{unicode-bidi:bidi-override;direction:rtl;text-align:left}.rating>i{cursor:pointer}.rating>i:hover,.rating>i:hover~i{color:#ebd072}.special-offer{margin-bottom:30px}@media (min-width:992px){.special-offer{display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:flex!important}}.special-offer .special-offer-image{position:relative;width:50%;z-index:1}@media (max-width:991px){.special-offer .special-offer-image{width:auto;float:none}}.special-offer .special-offer-content{position:relative;width:55%;margin-left:-5%;margin-top:5%;float:left;background-color:#f3f4f4;padding:4rem;z-index:2}@media (max-width:991px){.special-offer .special-offer-content{float:none;width:auto;margin-left:5%;margin-top:-5%;padding:3rem}}.bg-light .special-offer .special-offer-content,.bg-primary-light .special-offer .special-offer-content{background-color:#fff}.panel-details:not(:last-child){border-bottom:1px solid #e0e0e0}.panel-details .panel-details-title{margin:0;padding:1.25rem 0}.panel-details .panel-details-title>label{top:-.25em;margin-bottom:0;margin-right:0;display:inline-block;vertical-align:middle;float:left;pointer-events:none}.panel-details .panel-details-content{padding:1.25rem 2rem;border-top:1px solid #e0e0e0}.grey-to-color{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;-webkit-filter:grayscale(100%);filter:grayscale(100%)}.grey-to-color:focus,.grey-to-color:hover{-webkit-filter:grayscale(0);filter:grayscale(0)}.utility-box{background-color:#fff}.utility-box .utility-box-content,.utility-box .utility-box-title{padding:2rem;position:relative}.utility-box .utility-box-btn:focus,.utility-box .utility-box-btn:hover{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}.image-box{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;margin-bottom:2rem}.image-box:hover{box-shadow:0 0 25px 0 rgba(0,0,0,.05);-webkit-transform:translateY(-3px);-ms-transform:translateY(-3px);transform:translateY(-3px)}.image-box .image img{width:100%}.image-box .title{padding:1.5rem;text-align:center;background-color:#fff}.product-single .product-content{background:#fff;padding:2.5rem 3rem}.product-single .product-content .product-header{padding-bottom:2.5rem;margin-bottom:2.5rem;border-bottom:1px solid #e0e0e0}.product-single .product-content .product-title{margin-bottom:.25rem}.product-single .product-content .product-caption{font-size:18.2px;font-size:1.3rem;font-weight:200;display:block}.product-single .product-content .product-price{font-size:35px;font-size:2.5rem;color:#ddae71;margin-bottom:2.5rem}.example-box{border:1px solid #e1e1e8;border-top-left-radius:4px;border-top-right-radius:4px}.example-box-content{padding:20px}.example-box-content>:last-child{margin-bottom:0}.example-box-title{padding:10px 20px;text-transform:uppercase;font-size:11px;border-bottom:1px solid #e1e1e8;background-color:#f7f8f9;color:#9b9fa1;font-weight:500}.example-box+pre{margin-top:-1px!important;border-top-left-radius:0;border-top-right-radius:0}pre{-moz-tab-size:4;tab-size:4}.prettyprint .tag{font-size:13px;font-weight:400;padding:0}pre{font-family:Monaco,Menlo,Consolas,Courier New,monospace;color:#333;display:block;padding:9.5px;margin:0 0 30px!important;font-size:12.6px;font-size:.9rem;line-height:20px;word-break:break-all;word-wrap:break-word;white-space:pre;white-space:pre-wrap;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px}pre.prettyprint{margin-bottom:20px}.pre-scrollable{max-height:340px;overflow-y:scroll}.com{color:#999}.lit{color:#195f91}.clo,.opn,.pun{color:#93a1a1}.fun{color:#dc322f}.atv,.str{color:#d44950}.kwd,.prettyprint .tag{color:#2f6f9f}.atn,.dec,.typ,.var{color:#4f9fcf}.pln{color:#333}.prettyprint.prettyprinted{padding:10px 15px;background-color:#f7f8f9;border:1px solid #e0e0e0}.prettyprint.linenums{box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0}ol.linenums{margin:0 0 0 -12px}ol.linenums li{padding-left:12px;color:#bebec5;line-height:20px;list-style:decimal}.woocommerce-error,.woocommerce-info,.woocommerce-message{border-color:#ddae71;background-color:#fff}.woocommerce form.checkout_coupon,.woocommerce form.login,.woocommerce form.register{border-radius:0;border-color:#e0e0e0}.page-title{position:relative;padding:6rem 0 7rem}@media (max-width:1500px){.page-title{padding:4rem 0 5rem}}.page-title.bg-dark{background-color:#202225!important}.page-title.page-title-lg{padding:9rem 0}@media (max-width:1500px){.page-title.page-title-lg{padding:6rem 0}}.page-title h1{font-size:77px;font-size:5.5rem}@media (max-width:1500px){.page-title h1{font-size:4.75rem}}@media (max-width:991px){.page-title h1{font-size:4rem}}@media (max-width:575px){.page-title h1{font-size:3.5rem}}.section,section{position:relative;padding-top:5rem;padding-bottom:5rem}@media (max-width:1500px){.section,section{padding-top:4rem;padding-bottom:4rem}}.section.cover,section.cover{padding-top:0;padding-bottom:0}.section.section-lg,section.section-lg{padding-top:8em;padding-bottom:8rem}@media (max-width:1500px){.section.section-lg,section.section-lg{padding-top:6rem;padding-bottom:6rem}}.section.section-sm,section.section-sm{padding-top:4.5rem;padding-bottom:4.5rem}@media (max-width:1500px){.section.section-sm,section.section-sm{padding-top:3.5rem;padding-bottom:3.5rem}}.section.protrude,section.protrude{z-index:2}.section-main{padding-top:0;padding-bottom:0;overflow:hidden}body.no-margins .section-main{height:calc(100vh - 100px)}@media (max-width:1199px){body.no-margins .section-main{height:calc(100vh - 100px)}}@media (max-width:991px){body.no-margins .section-main{height:auto}}body:not(.no-margins) .section-main{height:calc(100vh - 130px)}@media (max-width:1199px){body:not(.no-margins) .section-main{height:calc(100vh - 115px)}}@media (max-width:991px){body:not(.no-margins) .section-main{height:auto}}body:not(.no-margins) .header-absolute .section-main{height:calc(100vh - 30px)}@media (max-width:1199px){body:not(.no-margins) .header-absolute .section-main{height:calc(100vh - 15px)}}@media (max-width:991px){body:not(.no-margins) .header-absolute .section-main{height:auto}}body.no-margins .header-absolute .section-main{height:100vh}@media (max-width:1199px){body.no-margins .header-absolute .section-main{height:100vh}}@media (max-width:991px){body.no-margins .header-absolute .section-main{height:auto}}.section-main-1>.container{height:100%}.section-main-1>.container .slide-container{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;height:100%}.section-main-1>.container .image{position:absolute;top:0;bottom:0;right:70px;width:calc(1010px + (100vw - 1110px)/2);cursor:move;overflow:hidden}@media (max-width:575px){.section-main-1>.container .image{width:auto;left:-15px;right:-15px}}.section-main-1>.container .image .slick-dots{position:absolute;bottom:25px;left:20px;text-align:left}.section-main-1>.container .image .slick-slide>div{height:100%}.section-main-1>.container .image .slide{position:relative;height:100%}.section-main-1>.container .image .slick-list,.section-main-1>.container .image .slick-track{height:100%;overflow:hidden}.section-main-1>.container .content{position:relative;background-color:#282b2e;z-index:5;width:45%}@media (max-width:991px){.section-main-1>.container .content{width:80%;margin-top:90px;margin-bottom:90px}}@media (max-width:575px){.section-main-1>.container .content{width:90%;margin-top:160px}}.section-main-1>.container .content .content-inner{padding:4rem}@media (max-width:1500px){.section-main-1>.container .content .content-inner{padding:3rem}}@media (max-width:991px){.section-main-1>.container .content .content-inner{padding:2.5rem}}@media (max-width:575px){.section-main-1>.container .content .content-inner{padding:1.75rem}}.section-main-1>.container .content .content-nav{position:absolute;top:100%;right:0}.section-main-1>.container .content .content-nav>a{float:left;width:70px;height:70px;display:block;background-color:#242729;line-height:70px;text-align:center;font-size:19.599px;font-size:1.4rem}.section-main-1>.container .content .content-nav>a>i{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;display:inline-block}.section-main-1>.container .content .content-nav>a:focus>i,.section-main-1>.container .content .content-nav>a:hover>i{color:#ddae71}.section-main-1>.container .content .content-nav>a:focus.next>i,.section-main-1>.container .content .content-nav>a:hover.next>i{-webkit-transform:translateX(3px);-ms-transform:translateX(3px);transform:translateX(3px)}.section-main-1>.container .content .content-nav>a:focus.prev>i,.section-main-1>.container .content .content-nav>a:hover.prev>i{-webkit-transform:translateX(-3px);-ms-transform:translateX(-3px);transform:translateX(-3px)}.section-main-1>.container .content .content-nav>a:not(:last-child){border-right:1px solid hsla(0,0%,100%,.15)}.section-main-2 .section-slider{height:100%}.section-main-2 .slide{position:relative;overflow:hidden;height:100%}@media (max-width:991px){.section-main-2 .section-content,.section-main-2 .slide{height:auto;padding-top:5rem;padding-bottom:5rem}}.section-main-2 .slick-list,.section-main-2 .slick-track{height:100%;overflow:hidden}.section-main-2 .slick-slide>div{height:100%}.section-main-3{padding-top:5rem;padding-bottom:5rem}.section-main-4{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-bottom:30px}@media (max-width:1199px){.section-main-4{margin-bottom:30px}}@media (max-width:991px){.section-main-4{margin-bottom:0}}.section-main-4 .section-main-image{position:absolute;top:0;right:0;width:60%;height:100%}@media (max-width:991px){.section-main-4 .section-main-image{opacity:.4}}@media (max-width:1500px){.section-main-4 .section-main-image{width:75%}}.section-main-4 .section-main-content{position:relative;z-index:2}@media (max-width:991px){.section-main-4 .section-main-content{padding-top:5rem;padding-bottom:5rem}}.section-main-4 .section-main-content.padded{padding-top:15vh}.section-double{padding-top:0;padding-bottom:0}.section-double>.row{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:35vw}@media (max-width:1199px){.section-double>.row{height:70vh}}@media (max-width:1500px){.section-double>.row{height:70vh}}@media (max-width:767px){.section-double>.row{height:auto}}.section-double>.row>.image{position:relative;height:100%}@media (max-width:767px){.section-double>.row>.image{height:60vh}}.section-double>.row>.image.right>.bg-image{background-position:0}.section-double>.row>.image.left>.bg-image{background-position:100%}.section-double>.row>.image .btn-play{-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);position:absolute;top:50%;left:50%}.section-double>.row>.content{padding:4rem 8%}.section-bg-edge{overflow:hidden;padding-top:0;padding-bottom:0;width:100%}.section-bg-edge .image{position:absolute;top:0;bottom:0;padding-left:0;padding-right:0}@media (max-width:767px){.section-bg-edge .image{opacity:.25;left:0;right:0}}.section-bg-edge .image.right{text-align:right;right:0}.section-bg-edge .image.right .bg-image{background-position:0}.section-bg-edge .image.left{text-align:left;left:0}.section-bg-edge .image.left .bg-image{background-position:100%}.section-bg-edge .image.bottom .bg-image{background-position-y:top!important}.section-bg-edge .container>div[class*=col-]{padding-top:6rem;padding-bottom:6rem}.section-bg-edge.section-sm .container>div[class*=col-]{padding-top:4.5rem;padding-bottom:4.5rem}.section-bg-edge.section-lg{padding-top:0;padding-bottom:0}.section-bg-edge.section-lg .container>div[class*=col-]{padding-top:8rem;padding-bottom:8rem}.section-extended{overflow:hidden;padding-top:0;padding-bottom:0}.section-extended>.container{position:relative;padding-top:6rem;padding-bottom:6rem}.section-extended>.container:after{position:absolute;top:0;width:100vw;bottom:0;content:" ";background-color:#282b2e}.section-extended>.container.bg-dark:after{background-color:#282b2e}.section-extended>.container.bg-white:after{background-color:#fff}.section-extended>.container.bg-primary:after{background-color:#ddae71}.section-extended>.container.bg-extra-dark:after{background-color:#212326}.section-extended>.container>*{position:relative;z-index:2}.section-extended.right>.container:after{left:-60px}.section-extended.left>.container:after{right:-60px}.section-gallery{position:relative}.section-gallery .set-fullscreen{position:absolute;top:28px;top:2rem;right:28px;right:2rem;color:#fff;z-index:10;font-size:21px;font-size:1.5rem}.section-gallery .gallery-carousel{position:relative}.section-gallery .gallery-carousel .slide{position:relative;height:100vh;display:block!important}@media (max-width:767px){.section-gallery .gallery-carousel .slide{height:450px}}.section-gallery .gallery-carousel .slick-slide>div{height:100%}.section-gallery .gallery-carousel .slick-list,.section-gallery .gallery-carousel .slick-track{height:100%;overflow:hidden}.section-gallery .gallery-carousel:after{position:absolute;bottom:0;left:0;width:100%;height:40%;background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.7),rgba(0,0,0,0));background-image:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,0));content:" ";z-index:1}.section-gallery .gallery-nav{box-shadow:0 0 30px 0 rgba(0,0,0,.4);position:absolute;width:500px;bottom:30px;left:calc(50% - 250px);background-color:#000;z-index:3}.section-gallery .gallery-nav .slick-slide{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;opacity:.4;cursor:pointer}.section-gallery .gallery-nav .slick-slide.slick-current{opacity:1}.section-gallery .gallery-nav .slick-next,.section-gallery .gallery-nav .slick-prev{visibility:visible;opacity:1}.section-gallery .gallery-nav .slick-next:before,.section-gallery .gallery-nav .slick-prev:before{text-shadow:0 0 10px rgba(0,0,0,.3);color:#fff}@media (max-width:575px){#footer{padding-bottom:2rem}}#footer .footer-first-row{padding-top:5.5rem;padding-bottom:5.5rem}@media (max-width:1500px){#footer .footer-first-row{padding-top:4rem;padding-bottom:4rem}}@media (max-width:767px){#footer .footer-first-row>:not(:last-child){margin-bottom:2rem}}#footer .footer-second-row{border-top:1px solid hsla(0,0%,100%,.15);font-size:.9em;padding-top:3rem;padding-bottom:3rem}@media (max-width:1500px){#footer .footer-second-row{padding-top:2rem;padding-bottom:2rem}}#back-to-top{background-color:rgba(0,0,0,0);border:0;outline:none;padding:0;text-align:left;text-align:initial;-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;position:fixed;bottom:0;right:0;color:#fff;width:45px;height:45px;background:#1c1e20;font-size:14px;z-index:650;visibility:hidden;opacity:0}@media (max-width:767px){#back-to-top{bottom:20px;right:20px}}#back-to-top:hover{background-color:#ddae71}#back-to-top.visible{opacity:1;visibility:visible}#back-to-top>*{-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);position:absolute;top:50%;left:50%}.nav-footer{list-style:none;margin:0 0 1.5rem;padding:0;display:inline-block}.nav-footer>li{display:block;margin-bottom:.2em}.nav-footer>li>a{font-weight:500;font-size:13.299px;font-size:.95rem;font-family:Oswald,sans-serif;color:#a4a7a9}.nav-footer>li>a:focus,.nav-footer>li>a:hover{color:#ddae71}.nav-footer>li.active>a{opacity:1}.alert{border:0;font-weight:300;padding:1rem 1.5rem;border-radius:0}.alert-primary{background-color:#fcf7f1}.alert-primary .close{box-shadow:1px 1px 20px 0 rgba(0,0,0,.07);background-color:#fff;color:#ddae71}.alert-primary .close:focus,.alert-primary .close:hover{background-color:#ddae71;color:#fff}.alert-primary-light{background-color:#fffefe}.alert-primary-light .close{box-shadow:1px 1px 20px 0 rgba(0,0,0,.07);background-color:#fff;color:#fcf7f1}.alert-primary-light .close:focus,.alert-primary-light .close:hover{background-color:#fcf7f1;color:#fff}.alert-primary-dark{background-color:#eae9e8}.alert-primary-dark .close{box-shadow:1px 1px 20px 0 rgba(0,0,0,.07);background-color:#fff;color:#2c2317}.alert-primary-dark .close:focus,.alert-primary-dark .close:hover{background-color:#2c2317;color:#fff}.alert-secondary{background-color:#e9eaea}.alert-secondary .close{box-shadow:1px 1px 20px 0 rgba(0,0,0,.07);background-color:#fff;color:#25282a}.alert-secondary .close:focus,.alert-secondary .close:hover{background-color:#25282a;color:#fff}.alert-info{background-color:#eef7fc}.alert-info .close{box-shadow:1px 1px 20px 0 rgba(0,0,0,.07);background-color:#fff;color:#56aee5}.alert-info .close:focus,.alert-info .close:hover{background-color:#56aee5;color:#fff}.alert-warning{background-color:#fdf5ec}.alert-warning .close{box-shadow:1px 1px 20px 0 rgba(0,0,0,.07);background-color:#fff;color:#ec9744}.alert-warning .close:focus,.alert-warning .close:hover{background-color:#ec9744;color:#fff}.alert-danger{background-color:#fceeee}.alert-danger .close{box-shadow:1px 1px 20px 0 rgba(0,0,0,.07);background-color:#fff;color:#e15757}.alert-danger .close:focus,.alert-danger .close:hover{background-color:#e15757;color:#fff}.alert-success{background-color:#edf6f0}.alert-success .close{box-shadow:1px 1px 20px 0 rgba(0,0,0,.07);background-color:#fff;color:#4aa36b}.alert-success .close:focus,.alert-success .close:hover{background-color:#4aa36b;color:#fff}.alert-dark{background-color:#eaeaea}.alert-dark .close{box-shadow:1px 1px 20px 0 rgba(0,0,0,.07);background-color:#fff;color:#282b2e}.alert-dark .close:focus,.alert-dark .close:hover{background-color:#282b2e;color:#fff}.alert-extra-dark{background-color:#e9e9e9}.alert-extra-dark .close{box-shadow:1px 1px 20px 0 rgba(0,0,0,.07);background-color:#fff;color:#212326}.alert-extra-dark .close:focus,.alert-extra-dark .close:hover{background-color:#212326;color:#fff}.bg-image,.bg-slideshow{position:absolute;top:0;left:0;width:100%;height:100%;background-position:50%;background-size:cover;background-repeat:no-repeat;z-index:0}.bg-image.bottom,.bg-slideshow.bottom{background-position-y:bottom}.bg-image.dark-overlay:after,.bg-image.light-overlay:after,.bg-slideshow.dark-overlay:after,.bg-slideshow.light-overlay:after{-webkit-transition:all .3s ease-out;transition:all .3s ease-out;position:absolute;top:0;left:0;width:100%;height:100%;content:" "}.bg-image.light-overlay:after,.bg-slideshow.light-overlay:after{background:hsla(0,0%,100%,.5)}.bg-image.dark-overlay:after,.bg-slideshow.dark-overlay:after{background:rgba(0,0,0,.5)}.bg-image>img{display:none}.bg-image+*{position:relative}.bg-fixed{background-attachment:fixed}@media (max-width:767px){.bg-fixed{background-attachment:scroll}}.bg-slideshow .slick-list,.bg-slideshow .slick-track{height:100%;overflow:hidden}.bg-multiply{mix-blend-mode:multiply}.bg-overlay{mix-blend-mode:overlay}.bg-video{position:absolute;top:0;left:0;width:100%;height:100%}.bg-video video{width:100%;height:100%;object-fit:cover}.bg-video.dark-overlay:after,.bg-video.light-overlay:after{-webkit-transition:all .3s ease-out;transition:all .3s ease-out;position:absolute;top:0;left:0;width:100%;height:100%;content:" "}.bg-video.light-overlay:after{background:hsla(0,0%,100%,.5)}.bg-video.dark-overlay:after{background:rgba(0,0,0,.5)}.bg-map{position:absolute;top:0;left:0;width:100%;height:100%}.bg-map.with-joiner:after{position:absolute;top:0;left:0;right:0;height:45%;content:" ";background-image:-webkit-linear-gradient(top,#fff,hsla(0,0%,100%,0));background-image:linear-gradient(180deg,#fff,hsla(0,0%,100%,0))}.bg-map.dark-overlay:after,.bg-map.light-overlay:after{-webkit-transition:all .3s ease-out;transition:all .3s ease-out;position:absolute;top:0;left:0;width:100%;height:100%;content:" "}.bg-map.light-overlay:after{background:hsla(0,0%,100%,.5)}.bg-map.dark-overlay:after{background:rgba(0,0,0,.5)}.bg-map.dark-overlay:hover:after,.bg-map.light-overlay:hover:after{visibility:hidden;opacity:0}.bg-map+*{position:relative}.bg-white{background-color:#fff!important}.bg-light{background-color:#f3f4f4!important}.bg-black{background-color:#000!important}.bg-primary{background-color:#ddae71!important}.bg-primary-light{background-color:#fcf7f1!important}.bg-primary-dark{background-color:#2c2317!important}.bg-secondary{background-color:#25282a!important}.bg-info{background-color:#56aee5!important}.bg-warning{background-color:#ec9744!important}.bg-danger{background-color:#e15757!important}.bg-success{background-color:#4aa36b!important}.bg-dark{background-color:#282b2e!important}.bg-extra-dark{background-color:#212326!important}.bg-primary-tint{background-color:#e0b67f!important}.bg-primary-shade{background-color:#c79d66!important}.bg-facebook #213553{background-color:"twitter" #3aa8db}.badge{border-radius:2rem;border:0;padding:.4em .75em;font-weight:600;font-size:60%}.badge-primary{background-color:#ddae71}.badge-primary-light{background-color:#fcf7f1}.badge-primary-dark{background-color:#2c2317}.badge-secondary{background-color:#25282a}.badge-info{background-color:#56aee5}.badge-warning{background-color:#ec9744}.badge-danger{background-color:#e15757}.badge-success{background-color:#4aa36b}.badge-dark{background-color:#282b2e}.badge-extra-dark{background-color:#212326}.btn{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;-webkit-backface-visibility:hidden;backface-visibility:hidden;position:relative;font-family:Oswald,sans-serif;font-weight:400;text-transform:uppercase;border-radius:0;padding:0 2rem;outline:none;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;background:rgba(0,0,0,0);border-width:2px;cursor:pointer;height:calc(3.25rem + 2px)}@media (max-width:575px){.btn{padding-left:1.25rem;padding-right:1.25rem}}.btn:before{-webkit-transition-property:"transform, visibility";transition-property:"transform, visibility";-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;-webkit-transform-origin:center bottom;-ms-transform-origin:center bottom;transform-origin:center bottom;-webkit-transform:scaleY(0);-ms-transform:scaleY(0);transform:scaleY(0);position:absolute;top:-2px;left:-2px;bottom:-2px;right:-2px;content:" ";visibility:hidden}.btn:active,.btn:focus,.btn:focus:active,.btn:hover{box-shadow:none;-webkit-transform:translateY(-2px);-ms-transform:translateY(-2px);transform:translateY(-2px);outline:none}.btn:active:before,.btn:focus:active:before,.btn:focus:before,.btn:hover:before{-webkit-transform:scaleY(1);-ms-transform:scaleY(1);transform:scaleY(1);visibility:visible}.btn>span{z-index:2}.btn>span,.btn i{position:relative}.btn i{top:1px}.btn i>i{-webkit-transition:opacity .2s ease-out,-webkit-transform .2s ease-out;transition:opacity .2s ease-out,-webkit-transform .2s ease-out;transition:transform .2s ease-out,opacity .2s ease-out;transition:transform .2s ease-out,opacity .2s ease-out,-webkit-transform .2s ease-out}.btn i>i,.btn img{display:inline-block}.btn img{height:1em;position:relative;top:-.05em;vertical-align:middle}.btn-lg{padding:0 3rem;font-size:16.8px;font-size:1.2rem;border-radius:0;height:calc(4.75rem + 2px)}@media (max-width:575px){.btn-lg{padding-left:1.5rem;padding-right:1.5rem}}.btn-sm{padding:0 1.2rem;font-size:12.6px;font-size:.9rem;border-radius:0;height:calc(2.5rem + 2px)}.btn-primary{border-color:#ddae71;background-color:#ddae71;color:#fff}.btn-primary:before{background-color:#c79d66}.btn-primary:active,.btn-primary:focus,.btn-primary:focus:active,.btn-primary:hover{border-color:#ddae71;background-color:#ddae71;color:#fff}.btn-primary-light{border-color:#fcf7f1;background-color:#fcf7f1;color:#fff}.btn-primary-light:before{background-color:#e3ded9}.btn-primary-light:active,.btn-primary-light:focus,.btn-primary-light:focus:active,.btn-primary-light:hover{border-color:#fcf7f1;background-color:#fcf7f1;color:#fff}.btn-primary-dark{border-color:#2c2317;background-color:#2c2317;color:#fff}.btn-primary-dark:before{background-color:#282015}.btn-primary-dark:active,.btn-primary-dark:focus,.btn-primary-dark:focus:active,.btn-primary-dark:hover{border-color:#2c2317;background-color:#2c2317;color:#fff}.btn-secondary{border-color:#25282a;background-color:#25282a;color:#fff}.btn-secondary:before{background-color:#212426}.btn-secondary:active,.btn-secondary:focus,.btn-secondary:focus:active,.btn-secondary:hover{border-color:#25282a;background-color:#25282a;color:#fff}.btn-info{border-color:#56aee5;background-color:#56aee5;color:#fff}.btn-info:before{background-color:#4d9dce}.btn-info:active,.btn-info:focus,.btn-info:focus:active,.btn-info:hover{border-color:#56aee5;background-color:#56aee5;color:#fff}.btn-warning{border-color:#ec9744;background-color:#ec9744;color:#fff}.btn-warning:before{background-color:#d4883d}.btn-warning:active,.btn-warning:focus,.btn-warning:focus:active,.btn-warning:hover{border-color:#ec9744;background-color:#ec9744;color:#fff}.btn-danger{border-color:#e15757;background-color:#e15757;color:#fff}.btn-danger:before{background-color:#cb4e4e}.btn-danger:active,.btn-danger:focus,.btn-danger:focus:active,.btn-danger:hover{border-color:#e15757;background-color:#e15757;color:#fff}.btn-success{border-color:#4aa36b;background-color:#4aa36b;color:#fff}.btn-success:before{background-color:#439360}.btn-success:active,.btn-success:focus,.btn-success:focus:active,.btn-success:hover{border-color:#4aa36b;background-color:#4aa36b;color:#fff}.btn-dark{border-color:#282b2e;background-color:#282b2e;color:#fff}.btn-dark:before{background-color:#242729}.btn-dark:active,.btn-dark:focus,.btn-dark:focus:active,.btn-dark:hover{border-color:#282b2e;background-color:#282b2e;color:#fff}.btn-extra-dark{border-color:#212326;background-color:#212326;color:#fff}.btn-extra-dark:before{background-color:#1e2022}.btn-extra-dark:active,.btn-extra-dark:focus,.btn-extra-dark:focus:active,.btn-extra-dark:hover{border-color:#212326;background-color:#212326;color:#fff}.btn-secondary:before{background-color:#ddae71}.btn-link{color:inherit}.btn-link:active,.btn-link:focus,.btn-link:focus:active,.btn-link:hover{color:#ddae71;text-decoration:none}.btn-outline-primary{border-color:#ddae71;color:inherit}.btn-outline-primary:before{background-color:#ddae71}.btn-outline-primary:active,.btn-outline-primary:focus,.btn-outline-primary:focus:active,.btn-outline-primary:hover{border-color:#ddae71;background:rgba(0,0,0,0);color:#fff}.btn-outline-primary-light{border-color:#fcf7f1;color:inherit}.btn-outline-primary-light:before{background-color:#fcf7f1}.btn-outline-primary-light:active,.btn-outline-primary-light:focus,.btn-outline-primary-light:focus:active,.btn-outline-primary-light:hover{border-color:#fcf7f1;background:rgba(0,0,0,0);color:#fff}.btn-outline-primary-dark{border-color:#2c2317;color:inherit}.btn-outline-primary-dark:before{background-color:#2c2317}.btn-outline-primary-dark:active,.btn-outline-primary-dark:focus,.btn-outline-primary-dark:focus:active,.btn-outline-primary-dark:hover{border-color:#2c2317;background:rgba(0,0,0,0);color:#fff}.btn-outline-secondary{border-color:#25282a;color:inherit}.btn-outline-secondary:before{background-color:#25282a}.btn-outline-secondary:active,.btn-outline-secondary:focus,.btn-outline-secondary:focus:active,.btn-outline-secondary:hover{border-color:#25282a;background:rgba(0,0,0,0);color:#fff}.btn-outline-info{border-color:#56aee5;color:inherit}.btn-outline-info:before{background-color:#56aee5}.btn-outline-info:active,.btn-outline-info:focus,.btn-outline-info:focus:active,.btn-outline-info:hover{border-color:#56aee5;background:rgba(0,0,0,0);color:#fff}.btn-outline-warning{border-color:#ec9744;color:inherit}.btn-outline-warning:before{background-color:#ec9744}.btn-outline-warning:active,.btn-outline-warning:focus,.btn-outline-warning:focus:active,.btn-outline-warning:hover{border-color:#ec9744;background:rgba(0,0,0,0);color:#fff}.btn-outline-danger{border-color:#e15757;color:inherit}.btn-outline-danger:before{background-color:#e15757}.btn-outline-danger:active,.btn-outline-danger:focus,.btn-outline-danger:focus:active,.btn-outline-danger:hover{border-color:#e15757;background:rgba(0,0,0,0);color:#fff}.btn-outline-success{border-color:#4aa36b;color:inherit}.btn-outline-success:before{background-color:#4aa36b}.btn-outline-success:active,.btn-outline-success:focus,.btn-outline-success:focus:active,.btn-outline-success:hover{border-color:#4aa36b;background:rgba(0,0,0,0);color:#fff}.btn-outline-dark{border-color:#282b2e;color:inherit}.btn-outline-dark:before{background-color:#282b2e}.btn-outline-dark:active,.btn-outline-dark:focus,.btn-outline-dark:focus:active,.btn-outline-dark:hover{border-color:#282b2e;background:rgba(0,0,0,0);color:#fff}.btn-outline-extra-dark{border-color:#212326;color:inherit}.btn-outline-extra-dark:before{background-color:#212326}.btn-outline-extra-dark:active,.btn-outline-extra-dark:focus,.btn-outline-extra-dark:focus:active,.btn-outline-extra-dark:hover{border-color:#212326;background:rgba(0,0,0,0);color:#fff}.btn-outline-white{border-color:#fff;color:inherit}.btn-outline-white:active,.btn-outline-white:focus,.btn-outline-white:focus:active,.btn-outline-white:hover{border-color:#fff;background:#fff;color:#ddae71}.btn-group>.btn:first-child:not(:last-child){border-bottom-right-radius:0;border-top-right-radius:0}.btn-group>.btn:last-child:not(:first-child){border-bottom-left-radius:0;border-top-left-radius:0}.btn-group>.btn:not(.btn-link):not(:first-child){border-left:1px solid hsla(0,0%,100%,.2)}.btn-group>.btn-secondary:not(:first-child){border-left-color:hsla(0,0%,100%,.15)!important}.btn-group>.btn-dark:not(:first-child){border-left-color:hsla(0,0%,100%,.15)!important}.btn-group .btn-outline-primary+.price{background-color:#ddae71;color:#fff}.btn-group .btn:focus,.btn-group .btn:hover{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}.btn-group .price{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;font-family:Oswald,sans-serif;font-weight:400;text-transform:uppercase;padding:1rem;height:calc(3.25rem + 2px);display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.btn-group .price.price-lg{padding:0 1rem;font-size:16.8px;font-size:1.2rem;height:calc(4.75rem + 2px)}.btn-submit .description,.btn-submit .error,.btn-submit .success{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}.btn-submit .error,.btn-submit .success{position:absolute;left:0;right:0;text-align:center;visibility:hidden}.btn-submit svg{position:relative;top:-7px;top:-.5rem;height:35px;height:2.5rem;width:35px;width:2.5rem}.btn-submit.loading{-webkit-pointer-events:none;pointer-events:none}.btn-submit.error .description,.btn-submit.success .description{opacity:0;visibility:hidden}.btn-submit.success .success{opacity:1;visibility:visible}.btn-submit.success .success>svg>path{-webkit-transition:all .3s ease-out .25s;transition:all .3s ease-out .25s;stroke-dashoffset:0}.btn-submit.error{background-color:#bbc4c6;border-color:#bbc4c6}.btn-submit.error .error{opacity:1;visibility:visible}@-webkit-keyframes btnLoading{0%{-webkit-transform:scale(1);transform:scale(1)}12%{-webkit-transform:scale(.7);transform:scale(.7)}38%{-webkit-transform:scale(1.1);transform:scale(1.1)}62%{-webkit-transform:scale(.8);transform:scale(.8)}87%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes btnLoading{0%{-webkit-transform:scale(1);transform:scale(1)}12%{-webkit-transform:scale(.7);transform:scale(.7)}38%{-webkit-transform:scale(1.1);transform:scale(1.1)}62%{-webkit-transform:scale(.8);transform:scale(.8)}87%{-webkit-transform:scale(1);transform:scale(1)}}.btn-play{background-color:rgba(0,0,0,0);outline:none;padding:0;text-align:left;text-align:initial;border-radius:50%;position:relative;display:inline-block;font-size:52px;width:92px;height:92px;vertical-align:middle;border:2px solid #fff}.btn-play:before{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;border-radius:50%;opacity:0;position:absolute;top:-1px;left:-1px;bottom:-1px;right:-1px;background-color:#fff;visibility:hidden;content:" "}.btn-play:after{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;-webkit-filter:blur(0);filter:blur(0);-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);position:absolute;top:50%;left:50%;border-color:rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #fff;border-style:solid;border-width:8px 0 8px 14px;content:" "}.btn-play:active,.btn-play:focus,.btn-play:focus:active,.btn-play:hover{outline:none}.btn-play:active:before,.btn-play:focus:active:before,.btn-play:focus:before,.btn-play:hover:before{opacity:1;visibility:visible}.btn-play:active:after,.btn-play:focus:active:after,.btn-play:focus:after,.btn-play:hover:after{border-color:rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #383c40}.btn-play-2{background-color:rgba(0,0,0,0);border:0;outline:none;padding:0;text-align:left;text-align:initial;font-weight:600}.btn-play-2,.btn-play-2>span{position:relative;display:inline-block;vertical-align:middle}.btn-play-2>span{border-radius:50%;width:40px;height:40px;border:2px solid #ddae71;margin-right:1rem}.btn-play-2>span:before{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;border-radius:50%;-webkit-transform:scale(.9);-ms-transform:scale(.9);transform:scale(.9);opacity:0;position:absolute;top:0;left:0;bottom:0;right:0;background-color:#ddae71;visibility:hidden;content:" "}.btn-play-2>span:after{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;-webkit-filter:blur(0);filter:blur(0);-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);position:absolute;top:50%;left:50%;border-color:rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #ddae71;border-style:solid;border-width:6px 0 6px 10px;content:" "}.btn-play-2:active,.btn-play-2:focus,.btn-play-2:focus:active,.btn-play-2:hover{outline:none;color:inherit}.btn-play-2:active>span:before,.btn-play-2:focus:active>span:before,.btn-play-2:focus>span:before,.btn-play-2:hover>span:before{-webkit-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2);opacity:1;visibility:visible}.btn-play-2:active>span:after,.btn-play-2:focus:active>span:after,.btn-play-2:focus>span:after,.btn-play-2:hover>span:after{border-color:rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #fff}.btn-download{background-color:rgba(0,0,0,0);border:0;text-align:initial;-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;border-radius:40px;-webkit-backface-visibility:hidden;backface-visibility:hidden;position:relative;font-weight:300;color:#fff;padding:1rem 2rem;display:inline-block;outline:none;font-family:Oswald,sans-serif;background-color:#282b2e;min-width:220px;margin-bottom:.2rem;text-align:left}@media (max-width:575px){.btn-download{min-width:180px}}.btn-download>.i{display:inline-block;vertical-align:middle;margin-right:1rem}.btn-download>.i i{font-size:21px;font-size:1.5rem}.btn-download>.i img{height:19.599px;height:1.4rem}.btn-download>.content{display:inline-block;vertical-align:middle;line-height:1.1}.btn-download>.content>span:first-child{opacity:.5;font-size:12.6px;font-size:.9rem;display:block}.btn-download>.content>span:last-child{font-size:17.5px;font-size:1.25rem}.btn-download:active,.btn-download:focus,.btn-download:focus:active,.btn-download:hover{-webkit-transform:translateY(2px);-ms-transform:translateY(2px);transform:translateY(2px);outline:none;color:#fff}.card{border-radius:0;border:0;background-color:#f3f4f4;margin-bottom:1.5rem}.bg-light .card,.bg-primary-light .card{background-color:#fff}.bg-extra-dark .card{background-color:#282b2e}.bg-dark .card{background-color:#212326}.card .card-image img{width:100%}.card .card-body{padding:1.5rem}.carousel{position:relative}.carousel.carousel-items{margin-left:-15px;margin-right:-15px}.carousel.carousel-items .carousel-item{padding-left:15px;padding-right:15px}.carousel.slider .slide{overflow:hidden!important}.slick-next,.slick-prev{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0);position:absolute;display:block;height:20px;width:45px;line-height:0;font-size:0;cursor:pointer;top:50%;padding:0;border:0;z-index:2;visibility:hidden;opacity:0;text-align:center}.slick-next,.slick-next:focus,.slick-next:hover,.slick-prev,.slick-prev:focus,.slick-prev:hover{background:rgba(0,0,0,0);color:rgba(0,0,0,0);outline:none}.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{opacity:.8}.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before{opacity:.3}.slick-next:before,.slick-prev:before{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;opacity:.7;font-family:themify-icons;font-size:23.8px;font-size:1.7rem;line-height:1;color:#383c40}.slick-prev{left:-45px}[dir=rtl] .slick-prev{left:auto;right:-45px}.slick-prev:before{content:"\e629"}[dir=rtl] .slick-prev:before{content:"\e628"}.slick-next{right:-45px}[dir=rtl] .slick-next{left:-45px;right:auto}.slick-next:before{content:"\e628"}[dir=rtl] .slick-next:before{content:"\e629"}.slick-slider:hover .slick-next,.slick-slider:hover .slick-prev{opacity:1;visibility:visible}.slick-dots{list-style:none;display:block;text-align:center;padding:0;margin:1rem 0 0;width:100%}.slick-dots li{position:relative;display:inline-block;height:20px;width:20px;margin:0;padding:0;cursor:pointer}.slick-dots li button{position:relative;border:0;background:rgba(0,0,0,0);display:block;height:100%;width:100%;outline:none;line-height:0;font-size:0;color:rgba(0,0,0,0);cursor:pointer}.slick-dots li button:focus,.slick-dots li button:hover{outline:none}.slick-dots li button:before{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;border-radius:50%;-webkit-transform-origin:center bottom;-ms-transform-origin:center bottom;transform-origin:center bottom;opacity:.4;position:absolute;top:50%;left:50%;margin-left:-3px;margin-top:-3px;width:6px;height:6px;background-color:#383c40;content:" "}.slick-dots li.slick-active button:before{opacity:1}.inner-controls .slick-next:before,.inner-controls .slick-prev:before{text-shadow:0 0 10px rgba(0,0,0,.3);color:#fff}.inner-controls .slick-prev{left:25px}.inner-controls .slick-next,[dir=rtl] .inner-controls .slick-prev{right:25px}[dir=rtl] .inner-controls .slick-next{left:25px}.inner-controls .slick-dots{position:absolute;bottom:20px}.inner-controls .slick-dots li button:before{background-color:#fff}.inner-controls .slick-dots li.slick-active button:before{background-color:#fff}.form-group{margin-bottom:.5rem}.input-group .btn:active,.input-group .btn:focus,.input-group .btn:focus:active,.input-group .btn:hover{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}.input-group-btn:not(:first-child)>.btn,.input-group-btn:not(:first-child)>.btn-group{margin-left:-2px}.form-control{box-shadow:inset 1px 1px 2px 0 rgba(40,43,46,.06);-webkit-appearance:none;-moz-appearance:none;appearance:none;font-weight:300;padding:1rem;border:2px solid #e0e0e0;border-radius:0;height:calc(3.25rem + 2px)}.form-control::-webkit-input-placeholder{opacity:.5;color:inherit}.form-control::-moz-placeholder{opacity:.5;color:inherit}.form-control:-ms-input-placeholder{opacity:.5;color:inherit}.form-control::-ms-input-placeholder{opacity:.5;color:inherit}.form-control::placeholder{opacity:.5;color:inherit}.form-control:focus{box-shadow:inset 1px 1px 2px 0 rgba(221,174,113,.1);border-color:#ddae71}.form-control.error{border-color:#f6cdcd;background-color:#fefcfc}.form-control.input-qty{text-align:center;font-weight:500}.form-control-sm{padding:.75rem;font-size:12.6px;font-size:.9rem;border-radius:0}.form-control-lg{padding:1.625rem;font-size:16.8px;font-size:1.2rem;border-radius:0}.dark .form-control{border-color:#fff}.select-container{position:relative}.select-container:after{-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0);position:absolute;top:50%;display:block;right:13px;font-size:11.2px;font-size:.8rem;color:#383c40;font-family:themify-icons;content:"\e62a"}select.form-control:not([size]):not([multiple]){height:calc(3.25rem + 4px)}label{font-weight:400}.custom-control{min-height:1.5em;padding-left:1.9em;margin-right:1em}.custom-control .custom-control-indicator{position:absolute;left:0;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;cursor:pointer}.custom-control .custom-control-indicator>svg{display:block;width:100%;height:100%}.custom-control .custom-control-indicator>svg>path{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;stroke:#ddae71}.custom-control .custom-control-description{cursor:pointer}.custom-control .custom-control-description>span{opacity:.6}.custom-radio .custom-control-input+.custom-control-indicator{border-radius:50%;top:.1em;font-weight:400;font-family:Oswald,sans-serif;width:1.3em;height:1.3em;margin-right:.5rem;border:2px solid #e0e0e0;background-color:#fff}.custom-radio .custom-control-input:checked+.custom-control-indicator>svg>path{stroke-dashoffset:0}.custom-radio .custom-control-input:focus+.custom-control-indicator{box-shadow:none;border-color:#cacaca}.custom-checkbox .custom-control-input+.custom-control-indicator{top:.1em;font-weight:400;font-family:Oswald,sans-serif;width:1.3em;height:1.3em;margin-right:.5rem;border-radius:0;border:2px solid #e0e0e0;background-color:#fff}.custom-checkbox .custom-control-input:checked+.custom-control-indicator>svg>path{stroke-dashoffset:0}.custom-checkbox .custom-control-input:focus+.custom-control-indicator{box-shadow:none}.icon{position:relative;display:inline-block;font-size:40px;width:52px;vertical-align:middle}.icon.icon-primary{color:#ddae71}.icon.icon-primary-light{color:#fcf7f1}.icon.icon-primary-dark{color:#2c2317}.icon.icon-secondary{color:#25282a}.icon.icon-info{color:#56aee5}.icon.icon-warning{color:#ec9744}.icon.icon-danger{color:#e15757}.icon.icon-success{color:#4aa36b}.icon.icon-dark{color:#282b2e}.icon.icon-extra-dark{color:#212326}.icon.icon-facebook{color:#bbc4c6}.icon.icon-facebook:focus,.icon.icon-facebook:hover{color:#213553}.icon.icon-twitter{color:#bbc4c6}.icon.icon-twitter:focus,.icon.icon-twitter:hover{color:#3aa8db}.icon.icon-google{color:#bbc4c6}.icon.icon-google:focus,.icon.icon-google:hover{color:#d04f3e}.icon.icon-behance{color:#bbc4c6}.icon.icon-behance:focus,.icon.icon-behance:hover{color:#1882ff}.icon.icon-dribbble{color:#bbc4c6}.icon.icon-dribbble:focus,.icon.icon-dribbble:hover{color:#e95aae}.icon.icon-flickr{color:#bbc4c6}.icon.icon-flickr:focus,.icon.icon-flickr:hover{color:#f9429c}.icon.icon-instagram{color:#bbc4c6}.icon.icon-instagram:focus,.icon.icon-instagram:hover{color:#4f86ac}.icon.icon-linkedin{color:#bbc4c6}.icon.icon-linkedin:focus,.icon.icon-linkedin:hover{color:#008bc2}.icon.icon-pinterest{color:#bbc4c6}.icon.icon-pinterest:focus,.icon.icon-pinterest:hover{color:#cb1f24}.icon.icon-skype{color:#bbc4c6}.icon.icon-skype:focus,.icon.icon-skype:hover{color:#00bef4}.icon.icon-slack{color:#bbc4c6}.icon.icon-slack:focus,.icon.icon-slack:hover{color:#44ba97}.icon.icon-tumblr{color:#bbc4c6}.icon.icon-tumblr:focus,.icon.icon-tumblr:hover{color:#435971}.icon.icon-vimeo{color:#bbc4c6}.icon.icon-vimeo:focus,.icon.icon-vimeo:hover{color:#0bc4ef}.icon.icon-vine{color:#bbc4c6}.icon.icon-vine:focus,.icon.icon-vine:hover{color:#00be9b}.icon.icon-youtube{color:#bbc4c6}.icon.icon-youtube:focus,.icon.icon-youtube:hover{color:#ed4533}.icon.icon-sm{font-size:18px;width:30px}.icon.icon-lg{font-size:76px;width:88px}.icon.icon-xl{font-size:120px;width:130px}.icon.icon-dark{color:rgba(0,0,0,.4)}.icon.icon-default{color:#bbc4c6}.icon.icon-circle{border-radius:50%;height:52px;font-size:20px;color:#fff;text-align:center}.icon.icon-circle>*{position:relative;z-index:2;line-height:48px}.icon.icon-circle.icon-xs{height:26px;font-size:11px}.icon.icon-circle.icon-xs>*{line-height:26px}.icon.icon-circle.icon-sm{height:30px;font-size:12px}.icon.icon-circle.icon-sm>*{line-height:30px}.icon.icon-circle.icon-lg{height:88px;font-size:36px}.icon.icon-circle.icon-lg>*{line-height:88px}.icon.icon-circle.icon-white{color:#ddae71}.icon.icon-circle.icon-white:before{background-color:#fff}.icon.icon-circle.icon-hover:focus:before,.icon.icon-circle.icon-hover:hover:before{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}.icon.icon-circle.icon-primary{background-color:#ddae71}.icon.icon-circle.icon-primary-light{background-color:#fcf7f1}.icon.icon-circle.icon-primary-dark{background-color:#2c2317}.icon.icon-circle.icon-secondary{background-color:#25282a}.icon.icon-circle.icon-info{background-color:#56aee5}.icon.icon-circle.icon-warning{background-color:#ec9744}.icon.icon-circle.icon-danger{background-color:#e15757}.icon.icon-circle.icon-success{background-color:#4aa36b}.icon.icon-circle.icon-dark{background-color:#282b2e}.icon.icon-circle.icon-extra-dark{background-color:#212326}.icon.icon-circle.icon-facebook{color:#fff;background-color:#bbc4c6}.icon.icon-circle.icon-facebook:focus,.icon.icon-circle.icon-facebook:hover{color:#fff;background-color:#213553}.icon.icon-circle.icon-twitter{color:#fff;background-color:#bbc4c6}.icon.icon-circle.icon-twitter:focus,.icon.icon-circle.icon-twitter:hover{color:#fff;background-color:#3aa8db}.icon.icon-circle.icon-google{color:#fff;background-color:#bbc4c6}.icon.icon-circle.icon-google:focus,.icon.icon-circle.icon-google:hover{color:#fff;background-color:#d04f3e}.icon.icon-circle.icon-behance{color:#fff;background-color:#bbc4c6}.icon.icon-circle.icon-behance:focus,.icon.icon-circle.icon-behance:hover{color:#fff;background-color:#1882ff}.icon.icon-circle.icon-dribbble{color:#fff;background-color:#bbc4c6}.icon.icon-circle.icon-dribbble:focus,.icon.icon-circle.icon-dribbble:hover{color:#fff;background-color:#e95aae}.icon.icon-circle.icon-flickr{color:#fff;background-color:#bbc4c6}.icon.icon-circle.icon-flickr:focus,.icon.icon-circle.icon-flickr:hover{color:#fff;background-color:#f9429c}.icon.icon-circle.icon-instagram{color:#fff;background-color:#bbc4c6}.icon.icon-circle.icon-instagram:focus,.icon.icon-circle.icon-instagram:hover{color:#fff;background-color:#4f86ac}.icon.icon-circle.icon-linkedin{color:#fff;background-color:#bbc4c6}.icon.icon-circle.icon-linkedin:focus,.icon.icon-circle.icon-linkedin:hover{color:#fff;background-color:#008bc2}.icon.icon-circle.icon-pinterest{color:#fff;background-color:#bbc4c6}.icon.icon-circle.icon-pinterest:focus,.icon.icon-circle.icon-pinterest:hover{color:#fff;background-color:#cb1f24}.icon.icon-circle.icon-skype{color:#fff;background-color:#bbc4c6}.icon.icon-circle.icon-skype:focus,.icon.icon-circle.icon-skype:hover{color:#fff;background-color:#00bef4}.icon.icon-circle.icon-slack{color:#fff;background-color:#bbc4c6}.icon.icon-circle.icon-slack:focus,.icon.icon-circle.icon-slack:hover{color:#fff;background-color:#44ba97}.icon.icon-circle.icon-tumblr{color:#fff;background-color:#bbc4c6}.icon.icon-circle.icon-tumblr:focus,.icon.icon-circle.icon-tumblr:hover{color:#fff;background-color:#435971}.icon.icon-circle.icon-vimeo{color:#fff;background-color:#bbc4c6}.icon.icon-circle.icon-vimeo:focus,.icon.icon-circle.icon-vimeo:hover{color:#fff;background-color:#0bc4ef}.icon.icon-circle.icon-vine{color:#fff;background-color:#bbc4c6}.icon.icon-circle.icon-vine:focus,.icon.icon-circle.icon-vine:hover{color:#fff;background-color:#00be9b}.icon.icon-circle.icon-youtube{color:#fff;background-color:#bbc4c6}.icon.icon-circle.icon-youtube:focus,.icon.icon-circle.icon-youtube:hover{color:#fff;background-color:#ed4533}.dark .icon-circle.icon-behance,.dark .icon-circle.icon-dribbble,.dark .icon-circle.icon-facebook,.dark .icon-circle.icon-flickr,.dark .icon-circle.icon-google,.dark .icon-circle.icon-instagram,.dark .icon-circle.icon-linkedin,.dark .icon-circle.icon-pinterest,.dark .icon-circle.icon-skype,.dark .icon-circle.icon-slack,.dark .icon-circle.icon-tumblr,.dark .icon-circle.icon-twitter,.dark .icon-circle.icon-vimeo,.dark .icon-circle.icon-vine,.dark .icon-circle.icon-youtube{background-color:#3e4043}.i-before{margin-right:8px}.i-after{margin-left:8px}.i-before-after{margin-right:8px;margin-left:8px}.animsition-loading{border-radius:50%;-webkit-animation:loaderAnimation 1s linear infinite;animation:loaderAnimation 1s linear infinite;border:2px solid #e0e0e0;border-left-color:#383c40}@-webkit-keyframes loaderAnimation{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes loaderAnimation{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.nav-pills>.nav-item>.nav-link{border-radius:0;font-family:Oswald,sans-serif;font-size:14px;font-size:1rem;font-weight:300;text-transform:uppercase;padding:1rem 1.8rem;background-color:#f3f4f4}.nav-pills>.nav-item>.nav-link.active{background-color:#ddae71;color:#fff}.nav-pills>.nav-item>.nav-link.active:focus,.nav-pills>.nav-item>.nav-link.active:hover{background-color:#ddae71}.nav-pills>.nav-item+.nav-item{margin-left:0}.nav-tabs>.nav-item>.nav-link{border-radius:0;position:relative;font-family:Oswald,sans-serif;padding:1rem 2rem;font-weight:300;margin-right:0;text-transform:uppercase}.nav-vertical{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin-bottom:1.5rem}.nav-vertical li a{font-weight:500;padding:.75rem 0;display:block}.nav-vertical li a:focus,.nav-vertical li a:hover{background:rgba(0,0,0,0)}.nav-vertical>li:not(:last-child){border-bottom:1px solid #e0e0e0}.nav-vertical>li>a.active,.nav-vertical>li>a:focus,.nav-vertical>li>a:hover{color:#ddae71}.nav-vertical>li>a.active+ul{display:block}.nav-vertical>li>ul{padding:0 .75rem;margin:0 0 .75rem;list-style:none;display:none}.nav-vertical>li>ul li:not(:last-child){border-bottom:0}.nav-vertical>li>ul li a{opacity:.5;padding:.2rem 0;font-size:12.6px;font-size:.9rem}.nav-vertical>li>ul li a.active,.nav-vertical>li>ul li a:focus,.nav-vertical>li>ul li a:hover{opacity:1;color:inherit}.nav-icons{margin-bottom:40px}.nav-icons a{opacity:.5;margin-right:15px}.nav-icons a:focus,.nav-icons a:hover{opacity:1}#nav-additional{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;box-shadow:0 0 30px 0 rgba(0,0,0,.1);-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);position:fixed;top:0;left:460px;bottom:0;width:300px;background-color:#f3f4f4;z-index:899;padding:2.25rem;overflow:auto;visibility:hidden}@media (max-width:1500px){#nav-additional{left:360px}}@media (max-width:767px){#nav-additional{left:300px;width:260px}}@media (max-width:575px){#nav-additional{left:0;width:calc(100% - 55px);z-index:901}}#nav-additional.show{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);visibility:visible}#nav-additional .close{position:absolute;top:20px;right:20px}#notification-bar{box-shadow:0 0 40px 0 rgba(0,0,0,.1);-webkit-transition:all .4s ease-out;transition:all .4s ease-out;position:fixed;left:0;right:0;bottom:0;font-weight:300;color:#fff;z-index:960;-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%);visibility:hidden;text-align:center;font-family:Oswald,sans-serif}#notification-bar>div{padding:1.5rem;font-size:14px}#notification-bar>div.success{background-color:#4aa36b}#notification-bar>div.error{background-color:#e15757}#notification-bar.visible{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);visibility:visible}#notification-bar .close{position:absolute;top:15px;right:15px;font-size:14px;font-size:1rem}.modal.fade .modal-dialog{-webkit-transform:scale(.9);-ms-transform:scale(.9);transform:scale(.9)}.modal.show .modal-dialog{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}.modal-content{box-shadow:5px 5px 50px 0 rgba(0,0,0,.3);border-radius:0;border:0;overflow:hidden}.modal-header{position:relative;padding:2rem}.modal-header.modal-header-lg{padding:7rem 2rem 1.5rem}.modal-header>.close{position:absolute;top:14px;top:1rem;right:14px;right:1rem;z-index:2}.modal>.close{position:absolute;top:20px;right:20px;color:#fff;font-size:17.5px;font-size:1.25rem}.modal>.close:focus,.modal>.close:hover{color:#fff}.modal-btn:focus,.modal-btn:hover{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}.modal-product-details{background-color:#f3f4f4;padding:2rem}.modal-body,.modal-footer{padding:2rem}.modal-backdrop{background-color:#282b2e}.modal-backdrop.show{opacity:.6}.modal-video{text-align:center}@media (max-width:767px){.modal-video{text-align:left}}.modal-video iframe{width:768px;max-width:100%;display:block}.modal-video:before{display:inline-block;vertical-align:middle;content:" ";height:100%}@media (max-width:767px){.modal-video:before{display:none}}.modal-video .modal-dialog{display:inline-block;text-align:left;vertical-align:middle;margin-top:70px}.modal-video .modal-content{background-color:#000}.product-modal [data-action=update-cart]{display:none}#body-overlay{position:fixed;top:0;right:0;bottom:0;width:100vw;background-color:rgba(0,0,0,.5);z-index:899;content:" ";z-index:925;display:none}hr{margin-top:3rem;margin-bottom:3rem}@media (max-width:767px){hr{margin-top:2rem;margin-bottom:2rem}}hr.hr-md{margin-top:2rem;margin-bottom:2rem}hr.hr-sm{margin-top:1rem;margin-bottom:1rem}hr.hr-primary{border-width:2px;border-color:#ddae71}.dark hr{border-color:hsla(0,0%,100%,.15)}.shape{display:inline-block;width:64px;height:64px}.shape.circle{border-radius:50%}.shape.square{border-radius:5px}.close{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;opacity:.6;color:inherit;text-shadow:none;font-size:14px}.close:active,.close:focus,.close:focus:active,.close:hover{outline:none;color:inherit;opacity:1}.dark .close{color:#fff}@media (max-width:991px){.stick-to-content{position:relative!important;top:0!important}}.img-thumbnail,.rounded{border-radius:.75rem}.action-icon{color:#a4a7a9;margin:0 .1em}.action-icon:focus,.action-icon:hover{color:#383c40}.body-bar{position:fixed;z-index:50;bottom:0;left:0;right:0;padding:2rem 0;background-color:#fff;box-shadow:0 0 30px 0 rgba(0,0,0,.2)}.body-bar.cookies-bar{display:none}.body-bar-container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.body-bar-action{margin-left:auto}@media (min-width:992px){.body-bar-text>:last-child{margin-bottom:0}}.pagination>.page-item{display:inline-block;vertical-align:middle}.pagination>.page-item>.page-link{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;border-radius:50%;border:0;color:#383c40;font-weight:600;display:inline-block;display:block;padding:.25rem .75rem;background-color:rgba(0,0,0,0)}.pagination>.page-item>.page-link.active{color:#ddae71}.pagination>.page-item>.page-link:hover{background-color:rgba(0,0,0,0);color:#ddae71}.pagination>.page-item:first-child>.page-link,.pagination>.page-item:last-child>.page-link{-webkit-transition:all .6s cubic-bezier(.215,.61,.355,1);transition:all .6s cubic-bezier(.215,.61,.355,1);border-radius:50%;padding:0;width:28px;width:2rem;text-align:center;color:#383c40}.pagination>.page-item:first-child>.page-link>i,.pagination>.page-item:last-child>.page-link>i{line-height:26px;font-size:11.2px;font-size:.8rem}.pagination>.page-item:first-child>.page-link:hover,.pagination>.page-item:last-child>.page-link:hover{color:#a4a7a9}.pagination>.page-item:first-child>a:hover{-webkit-transform:translateX(-2px);-ms-transform:translateX(-2px);transform:translateX(-2px)}.pagination>.page-item:last-child>a:hover{-webkit-transform:translateX(2px);-ms-transform:translateX(2px);transform:translateX(2px)}.pagination>.page-item.active>.page-link{color:#ddae71;background-color:rgba(0,0,0,0)}.pagination>.page-item.disabled{opacity:.5;pointer-events:none}#panel-cart{-webkit-transition:all .6s cubic-bezier(.215,.61,.355,1);transition:all .6s cubic-bezier(.215,.61,.355,1);box-shadow:0 0 30px 0 rgba(0,0,0,.1);position:fixed;top:0;right:0;bottom:0;background-color:#fff;width:370px;z-index:950;font-size:13.299px;font-size:.95rem;visibility:hidden;-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%)}@media (max-width:575px){#panel-cart{width:100%}}#panel-cart.show{visibility:visible;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}#panel-cart .panel-cart-container{position:absolute;top:0;left:0;right:0;bottom:0;padding-bottom:90px;overflow:auto;z-index:2;background-color:#fff}#panel-cart .panel-cart-title{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:1.5rem;background-color:#f3f4f4}#panel-cart .panel-cart-title .title{margin-bottom:0}#panel-cart .panel-cart-title .close{margin-left:auto}#panel-cart .panel-cart-action{position:absolute;bottom:0;left:0;width:100%;white-space:nowrap;z-index:3}#panel-cart .panel-cart-action:focus,#panel-cart .panel-cart-action:hover{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}.cart-summary{padding:1.5rem}.cart-table{line-height:1.25;width:100%}.cart-table td,.cart-table th{vertical-align:middle;padding:1rem 1.5rem;border-bottom:1px solid #e0e0e0}.cart-table .title .name{font-weight:500;display:block}.cart-table .price{font-weight:500;text-align:right;width:95px}.cart-table .actions{white-space:nowrap;text-align:right}.cart-table .actions button{background-color:rgba(0,0,0,0);border:0;outline:none;padding:0;text-align:left;text-align:initial}.cart-empty{padding:10vh 2rem;text-align:center;font-size:21px;font-size:1.5rem;color:#a4a7a9;display:none}.cart-empty i{font-size:28px;font-size:2rem;display:inline-block;margin-bottom:1rem}.font-secondary{font-family:Oswald,sans-serif}.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:2rem;font-weight:200}.h1 .badge,.h2 .badge,.h3 .badge,.h4 .badge,.h5 .badge,.h6 .badge,h1 .badge,h2 .badge,h3 .badge,h4 .badge,h5 .badge,h6 .badge{position:relative;top:-.25em}.h1,h1{font-size:63px;font-size:4.5rem;font-weight:100}@media (max-width:1500px){.h1,h1{font-size:3.5rem}}.h2,h2{font-size:49px;font-size:3.5rem;font-weight:100}@media (max-width:1500px){.h2,h2{font-size:3rem}}.h3,h3{font-size:35px;font-size:2.5rem}@media (max-width:1500px){.h3,h3{font-size:2.25rem}}.h4,h4{font-size:24.5px;font-size:1.75rem}@media (max-width:1500px){.h4,h4{font-size:1.6rem}}.h5,h5{font-size:19.599px;font-size:1.4rem;font-weight:400}.h6,h6{font-size:15.4px;font-size:1.1rem;font-weight:500}.display-1,.display-2,.display-3,.display-4{font-weight:100;line-height:1.1}@media (min-width:1501px){.display-1{font-size:6rem}}@media (max-width:1500px){.display-1{font-size:5rem}}@media (max-width:1500px){.display-2{font-size:4.75rem}}@media (max-width:991px){.display-2{font-size:3.5rem}}p{font-size:14px;font-size:1rem;margin-bottom:2rem}p,p.lead{font-weight:400}p.lead{font-size:16.8px;font-size:1.2rem}.blockquotes .blockquote:nth-child(2n-1){margin-right:4.5rem}@media (max-width:575px){.blockquotes .blockquote:nth-child(2n-1){margin-right:1rem}}.blockquotes .blockquote:nth-child(2n){margin-left:4.5rem}@media (max-width:575px){.blockquotes .blockquote:nth-child(2n){margin-left:1rem}}.blockquote{position:relative;border:0;padding:0;margin-bottom:1.5rem}.blockquote .blockquote-content{position:relative;background-color:#f3f4f4;padding:2rem;margin-bottom:.8rem}.bg-dark .blockquote .blockquote-content{background-color:#333638}.blockquote .blockquote-content:after{position:absolute;top:100%;right:0;width:0;height:0;border-color:rgba(0,0,0,0) #f3f4f4 rgba(0,0,0,0) rgba(0,0,0,0);border-style:solid;border-width:0 20px 20px 0;content:" "}.bg-dark .blockquote .blockquote-content:after{border-color:rgba(0,0,0,0) #333638 rgba(0,0,0,0) rgba(0,0,0,0)}.blockquote .blockquote-content.dark{background-color:#282b2e}.bg-dark .blockquote .blockquote-content.dark{background-color:#212326}.blockquote .blockquote-content.dark:after{border-color:rgba(0,0,0,0) #282b2e rgba(0,0,0,0) rgba(0,0,0,0)}.bg-dark .blockquote .blockquote-content.dark:after{border-color:rgba(0,0,0,0) #212326 rgba(0,0,0,0) rgba(0,0,0,0)}.blockquote .blockquote-content p{font-size:24.5px;font-size:1.75rem;font-weight:200;line-height:1.3;margin-bottom:0}.blockquote.blockquote-lg .blockquote-content{padding:3rem}.blockquote.blockquote-lg .blockquote-content p{font-size:49px;font-size:3.5rem;font-weight:100}@media (max-width:767px){.blockquote.blockquote-lg .blockquote-content p{font-size:2.5rem;font-weight:200}}.blockquote footer{font-size:12.6px;font-size:.9rem;padding:0 2rem;font-weight:500}.blockquote footer:before{display:none}.blockquote footer img{border-radius:50%;width:32px;margin-right:.35rem}.blockquote footer .name{white-space:nowrap}.bg-light .blockquote .blockquote-content{background-color:#fff}.bg-light .blockquote .blockquote-content:after{border-color:rgba(0,0,0,0) #fff rgba(0,0,0,0) rgba(0,0,0,0)}.bg-light .blockquote .blockquote-content.dark{background-color:#282b2e}.bg-light .blockquote .blockquote-content.dark:after{border-color:rgba(0,0,0,0) #282b2e rgba(0,0,0,0) rgba(0,0,0,0)}.text-lg{font-size:18.9px;font-size:1.35rem}@media (max-width:575px){.text-lg{font-size:1.2rem}}.text-md{font-size:15.4px;font-size:1.1rem}.text-sm{font-size:13.299px;font-size:.95rem}.text-xs{font-size:11.9px;font-size:.85rem}.text-primary{color:#ddae71!important}.text-primary-light{color:#fcf7f1!important}.text-primary-dark{color:#2c2317!important}.text-secondary{color:#25282a!important}.text-info{color:#56aee5!important}.text-warning{color:#ec9744!important}.text-danger{color:#e15757!important}.text-success{color:#4aa36b!important}.text-dark{color:#282b2e!important}.text-extra-dark{color:#212326!important}.text-dark{color:#383c40!important}.text-muted{color:#a4a7a9!important}.dark .text-muted{color:hsla(0,0%,100%,.5)!important}a.text-primary:focus,a.text-primary:hover{color:#b18b5a!important}a.text-primary-light:focus,a.text-primary-light:hover{color:#cac6c1!important}a.text-primary-dark:focus,a.text-primary-dark:hover{color:#231c12!important}a.text-secondary:focus,a.text-secondary:hover{color:#1e2022!important}a.text-info:focus,a.text-info:hover{color:#458bb7!important}a.text-warning:focus,a.text-warning:hover{color:#bd7936!important}a.text-danger:focus,a.text-danger:hover{color:#b44646!important}a.text-success:focus,a.text-success:hover{color:#3b8256!important}a.text-dark:focus,a.text-dark:hover{color:#202225!important}a.text-extra-dark:focus,a.text-extra-dark:hover{color:#1a1c1e!important}.list-check{list-style:none;padding:0;margin:0 0 2rem}.list-check>li{position:relative;padding-left:1.5em}.list-check>li:not(:last-child){padding-bottom:.25em;margin-bottom:.25em}.list-check>li:before{position:absolute;top:0;left:0;font-family:themify-icons;content:"\e64c";color:#4aa36b}.list-check>li.false:before{color:#bbc4c6;content:"\e646"}#style-switcher-wrapper{position:fixed;z-index:950}#style-switcher-wrapper:before{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;opacity:0;position:fixed;top:0;left:0;right:0;bottom:0;content:" ";background-color:rgba(0,0,0,.1);visibility:hidden}#style-switcher-wrapper.show:before{opacity:1;visibility:visible}#style-switcher-wrapper.show #style-switcher{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1;visibility:visible}#style-switcher{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;box-shadow:0 0 30px 0 rgba(0,0,0,.1);-webkit-transform:scale(.9);-ms-transform:scale(.9);transform:scale(.9);opacity:0;position:fixed;top:15px;bottom:15px;left:15px;width:250px;height:calc(100vh - 30px);z-index:2200;color:#333;font-family:Helvetica Neue,Open Sans,sans-serif;font-size:12px;font-weight:500;background:#fff;overflow:auto;color:#383c40;visibility:hidden}#style-switcher .style-switcher-title{background-color:#f3f4f4;padding:18px;font-size:14px}#style-switcher .style-switcher-close{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;opacity:.5;position:absolute;top:18px;right:18px;cursor:pointer;display:inline-block}#style-switcher .style-switcher-close>img{width:10px}#style-switcher .style-switcher-close:hover{opacity:1}#style-switcher .style-switcher-bottom{margin-top:15px;text-align:center}#style-switcher-toggle{box-shadow:0 0 30px 0 rgba(0,0,0,.1);border-radius:50%;position:fixed;bottom:20px;left:40px;width:48px;height:48px;z-index:951;color:#fff;line-height:46px;background-color:#fff;text-align:center;cursor:pointer;display:block}@media (max-width:1199px){#style-switcher-toggle{bottom:15px;left:25px}}@media (max-width:575px){#style-switcher-toggle{bottom:15px;left:15px}}#style-switcher-toggle>img{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;-webkit-animation:spinAnimation 4s linear infinite;animation:spinAnimation 4s linear infinite;opacity:.5;width:16px;line-height:48px}#style-switcher-toggle:hover>img{opacity:1}@-webkit-keyframes spinAnimation{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes spinAnimation{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.style-switcher-list{list-style:none;margin:0;padding:0}.style-switcher-list>li{border-bottom:1px solid #e0e0e0}.style-switcher-list>li>a{position:relative;display:block;padding:14px 18px 10px 38px;cursor:pointer}.style-switcher-list>li>a:before{border-radius:50%;position:absolute;top:14px;left:12px;display:block;width:22px;height:22px;content:" ";border:1px solid #e0e0e0}.style-switcher-list>li>a:after{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;-webkit-transform:scale(.5);-ms-transform:scale(.5);transform:scale(.5);opacity:0;position:absolute;top:17px;left:17px;width:10px;height:10px;font-family:themify-icons;content:"\e64c";font-weight:700;font-size:12px;color:#282828;visibility:hidden}.style-switcher-list>li>a .color{border-radius:22px;display:inline-block;width:44px;height:22px;margin:0 1px}.style-switcher-list>li>a .color,.style-switcher-list>li>a .label{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}.style-switcher-list>li>a .label{margin-left:4px;line-height:22px;color:#a4a7a9}.style-switcher-list>li>a.active:after{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1;visibility:visible}.style-switcher-list>li>a.active .label{color:#383c40}.style-switcher-list.list-colors{text-align:right}.widget{margin-bottom:2.4rem}.widget .owl-pagination .owl-page span{width:7px;height:7px}@media (max-width:767px){.sidebar .widget{width:47%;float:left}.sidebar .widget:nth-child(2n-1){margin-right:3%}}@media (max-width:575px){.sidebar .widget{width:100%;float:left;margin-right:0!important}}.widget-about .text{position:relative;padding-left:60px}.widget-about .text:after{opacity:.1;position:absolute;top:-54px;left:-10px;font-size:140px;font-size:10rem;content:"\201c"}.list-posts{list-style:none;margin:0;padding:0}.list-posts>li{margin-bottom:1.5rem;line-height:1.2}.list-posts>li .image{float:left;width:48px}.list-posts>li .image>img{border-radius:50%}.list-posts>li .content{margin-left:77px;padding-top:.2rem}.list-posts>li .title{font-weight:500;display:block}.list-posts>li .date{opacity:.7;font-size:11.9px;font-size:.85rem;font-weight:200}.list-posts>li .date:after{font-family:themify-icons;content:"\e628";font-size:80%;vertical-align:middle;margin-left:.5rem}.twitter-feed ul{list-style:none;padding:0 0 0 2rem;margin:0;overflow:hidden}.twitter-feed ul li{position:relative;margin-bottom:.5rem;font-weight:200;background-color:#fff;padding:1rem}.twitter-feed ul li:before{position:absolute;top:4.2px;top:.3rem;left:-25px;font-family:themify-icons;color:#3aa8db;content:"\e74b"}.twitter-feed ul li .tweet{margin-bottom:0;font-size:12.6px;font-size:.9rem}.twitter-feed ul li .tweet a{word-break:break-word}.twitter-feed ul li .timePosted{display:block;font-size:11.2px;font-size:.8rem;opacity:.5;margin-top:.5rem;margin-bottom:0}.animated{-webkit-animation-delay:.2s;animation-delay:.2s}.zooming{-webkit-animation:zooming 18s infinite both;animation:zooming 18s infinite both}@-webkit-keyframes zooming{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}to{-webkit-transform:scale(1);transform:scale(1)}}@keyframes zooming{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}to{-webkit-transform:scale(1);transform:scale(1)}}.hanging{-webkit-animation:hanging 8s infinite both;animation:hanging 8s infinite both}@-webkit-keyframes hanging){0%{-webkit-transform:translateY(0);transform:translateY(0)}50%{-webkit-transform:translateY(-3.5%);transform:translateY(-3.5%)}to{-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes hanging){0%{-webkit-transform:translateY(0);transform:translateY(0)}50%{-webkit-transform:translateY(-3.5%);transform:translateY(-3.5%)}to{-webkit-transform:translateY(0);transform:translateY(0)}}.blinking{-webkit-animation:blinking 2s infinite both;animation:blinking 2s infinite both}@-webkit-keyframes blinking{0%{opacity:1}50%{opacity:0}to{opacity:1}}@keyframes blinking{0%{opacity:1}50%{opacity:0}to{opacity:1}}
